body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin: 0 auto 4em auto;
  tab-size: 2;
  -webkit-text-size-adjust: none;
}

.column {
    max-width: 960px;
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 0 10px;
}

h1 {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: -1px;
    margin: 0.1em 0;
}


h2 {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 250;
    letter-spacing: -1px;
    margin: 1em 0 0.1em 0;
}

.tooltip {
  position: fixed;
  background-color:white;
  border:solid 1px black;
  border-radius:5px;
  padding: 5px 10px;
}

.line {
  fill:none;
}

.grid {
  fill:none;
  stroke: #BBB;
  stroke-width: 1;
  stroke-dasharray: 4 1;
}

.modal {
  display: none;
  position: fixed;
  border: solid 1px black;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.75);
}

.modal>.fg {
  position: relative;
  margin: auto;
  max-width:1000px;
  /* top: 10%; */
  /* left: 10%; */
  width: 80%;
  /* height: 80%; */
  background-color: white;
  opacity: 1;
  border-radius: 15px;
  padding: 25px;
}

#state-chart-container {
  height: 720px; /* Initial value, will be overwritten */
  background-image: url('blur-state.png')
}

#line-chart-container {
  height: 480px; /* Initial value, will be overwritten */
  background-image: url('blur-line.png')
}

#area-chart-container {
  height: 480px; /* Initial value, will be overwritten */
  background-image: url('blur-area.png')
}

#bar-chart-container {
  height: 672px; /* Initial value, will be overwritten */
  background-image: url('blur-bar.png')
}


@keyframes spinner {
    0% {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
         transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}

.container {
  position: relative;
}

.container::before {
  border: solid 3px #eee;
  border-bottom-color: #EF6565;
  border-radius: 50%;
  content: "";
  height: 40px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 40px;
  animation: 2s linear infinite spinner;
}

.loaded::before {
  display: none;
}